.homepage {
  padding-top: 50px;
  .main-container {
    padding: 0 207px;
    display: flex;
    flex-direction: row;

    .photos-section {
      width: 618px;
    }

    .follow-cont {
      // width: 100%;
      position: fixed;
      right: 207px;
      left: 827px;
    }
  }
}
