.header {
  height: 53px;
  background-color: #ffff;
  padding: 0 207px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d1d9d9;
  align-content: center;
  position: fixed;
  width: 100%;

  //   flex-basis: 0;
  .logo-container {
    padding: 6px 0 4px;
    img {
      width: auto;
      height: 100%;
      // image-rendering: auto;
    }
  }

  .search-container {
    padding: 12px 0;
    margin-left: 60px;
    input {
      height: 100%;
      width: 213px;
      background-color: #fafafa;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      font-family: FontAwesome, "Roboto", "Segoe UI", "San Francisco", "Arial";
    }
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 13px 0;
    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      object-fit: cover;
      // image-rendering: crisp-edges;
    }

    i {
      font-size: 24px;
      margin: auto;
    }
  }
}
